*{
    margin: 0%;
    outline: 0ch;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-color: black;
    color: white;
}
.inner{
    padding-top: 20px;
}
.header{
    text-align: center;
    color: white;
    padding: 1px;
    position: relative;
}
.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: greenyellow;
}
.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 80px;
    font-size: 1.2rem;
    grid-row-gap: 1rem;
}
.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

}
.skill-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;

}
.skill-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
}

.img{
    width: 90px;
    height: 90px;
    /* position: relative;/ */
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;

}
 /*.img:after{
    content: '';
    position: relative;
    top: 0%;
    left: 50%;
    width: 50px;
    height: 90px;
    background: rgba(100,100,100,0.5);
    border-radius: 45px 0 0 45px;
    background-color: #2ecc71;*/
} 
.skill-title h3{
    color: #fff;
    margin: 0.5rem;
}
.skill-icon{
    width: 50px;
    z-index: 2;
    height: 50px;
    /* object-fit: cover; */
}
.skill-box:hover .img{
    transform: translateY(-10px);
    
}
@media  screen and (max-width: 990px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
    
}
@media  screen and (max-width: 650px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
    
}

